@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700,900;&display=swap");

/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding: 80px 0;
}

.row {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  cursor: pointer;
  margin-right: 24px;
  font-size: 14px;
  color: rgb(36, 62, 99);
  font-weight: 600;
}

p {
  line-height: 1.8;
}

li {
  list-style-type: none;
}

button,
.nav__links--btn {
  color: #fff;
  background-color: #6415ff;
  border-radius: 9999px;
  cursor: pointer;
  transition: all ease;
  border: none;
}

img {
  width: 100%;
}

.primary {
  color: #6415ff;
}

h4 {
  font-size: 20px;
  color: #243e63;
  font-weight: 600;
}

hr {
  width: 100%;
  border: 1px solid rgba(203, 213, 224, 0.5);
  margin: 32px 0 0;
}

/* Navigation Styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-top: 30px;
}

.nav__logo--area--anchor {
  display: flex;
  align-items: center;
}

.nav__logo--title:hover {
  color: #6415ff;
}

.nav__logo {
  width: 40px;
}

.nav__logo--title {
  font-size: 24px;
  font-weight: 900;
  margin-left: 12px;
  color: #243e63;
}

.nav__links {
  display: flex;
}

.nav__links--a,
.nav__links--b {
  display: flex;
}

.nav__links--a a {
  margin-right: 48px;
}

.nav__links--b {
  margin-left: 24px;
}
.nav__links--anchor {
  padding-bottom: 4px;
  transition: all 100ms ease;
}

.nav__links--anchor:hover {
  border-bottom: 2px solid #6415ff;
  color: #6415ff;
}

.nav__links--btn {
  padding: 12px 32px;
}

.nav__links--btn:hover,
.form__button:hover {
  background-color: #4c14bd;
  color: #fff;
}

/* Header area */

header {
  display: flex;
  padding: 96px 0;
}

.header__info {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.header__logo {
  width: 60%;
}

.header__title {
  font-size: 48px;
  line-height: 60px;
  margin: 32px 0;
}

.header__para {
  font-size: 18px;
  color: rgb(36, 62, 99);
  margin-bottom: 24px;
}

input[type="email"] {
  padding: 20px 192px 20px 32px;
  border-radius: 9999px;
  border: 2px solid rgb(160, 174, 192);
  font-size: 16px;
  font-weight: 500;
  color: rgb(226, 232, 240);
  opacity: 0.5;
}

input[type="email"]:hover {
  opacity: 1;
}

form {
  position: relative;
  margin-bottom: 80px;
}

.form__button {
  position: absolute;
  top: 6px;
  right: 105px;
  border: none;
  padding: 16px 0;
  font-size: 16px;
  width: 160px;
}

.header__subheader {
  font-size: 12px;
  font-weight: 700;
  color: rgb(160, 174, 192);
}

.header__companies {
  max-width: 533px;
  color: rgb(36, 62, 99);
  opacity: 0.5;
  margin-top: 16px;
  width: 400px;
}

/* Service section */

#services h2,
#services h3,
#services .section__para,
#pricing h2,
#pricing h3,
#pricing p {
  text-align: center;
}

.section__title {
  font-size: 16px;
  color: rgb(100, 21, 255);
  text-transform: uppercase;
  letter-spacing: 1.6px;
}

.section__heading {
  padding: 16px 0;
  color: #243e63;
  font-size: 48px;
  letter-spacing: 1.2px;
  font-weight: 900;
}

.section__para {
  color: rgb(124, 139, 161);
  font-size: 18px;
  line-height: 29px;
  font-weight: 500;
  max-width: 550px;
  margin: 0 auto;
}

.service__widgets {
  margin: 80px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.widget__img {
  border: 1px solid rgb(226, 232, 240);
  border-radius: 50%;
  padding: 20px;
  width: 66px;
  margin-right: 20px;
}

.widget {
  display: flex;
  width: 30%;
  padding: 0px;
  margin-bottom: 24px;
}

.widget__title {
  font-size: 24px;
  font-weight: 700;
  color: rgb(36, 62, 99);
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.widget__description {
  color: #7c8ba1;
  font-weight: 500;
  max-width: 70%;
}

/* Work section */

.row__container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.work__wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  align-items: flex-start;
}

.work__pic {
  width: 50%;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 4px;
}

#work .section__para {
  margin-left: 0;
  margin-bottom: 24px;
}

/* Started section */

.started__pic,
.started__info {
  width: 50%;
}

.started__pic {
  padding-top: 48px;
}

.started__info {
  padding-left: 58px;
}
.steps {
  display: flex;
  margin: 32px 0 0 0;
}

.steps__number {
  font-size: 36px;
  color: rgb(203, 213, 224);
  font-weight: 600;
}

.steps__info {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.steps__para {
  font-size: 14px;
  color: rgb(113, 128, 150);
  line-height: 28px;
  font-weight: 500;
  max-width: 80%;
  margin-top: 8px;
}

/* Values section */

.values__info,
.values__pic {
  width: 50%;
}

#values .section__para {
  margin: 0;
}

.values__description {
  margin: 32px 0 24px;
  display: flex;
}

.values__description h5 {
  color: #243e63;
  font-weight: 700;
  font-size: 20px;
}

.values__description p {
  color: #718096;
  line-height: 26px;
  margin: 16px 0;
  padding-right: 28px;
}

.values_description--title {
  display: flex;
  align-items: center;
}

.fa-briefcase,
.fa-dollar-sign {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-dollar-sign {
  background-color: #9ae6b4;
  color: rgb(4, 82, 4);
}

.fa-briefcase {
  background-color: #feb2b2;
  color: rgb(129, 7, 7);
}

/* Pricing */

.plans {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 48px;
}
.plan {
  width: 32%;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding-bottom: 32px;
  align-items: center;
  color: #1a202c;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}

.plan h5 {
  font-size: 20px;
  padding: 32px 0;
}

.plan h2 {
  font-size: 48px;
  margin-bottom: 12px;
}

.plan p {
  color: #718096;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}

.plan ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan li {
  margin-bottom: 32px;
  color: #718096;
  font-weight: 500;
  font-size: 16px;
}

.plan li:last-child {
  margin-bottom: 0;
}

.plan button {
  border: none;
  padding: 16px 0;
  font-size: 14px;
  width: 160px;
  font-weight: 700;
  color: #fff;
  background-color: #6415ff;
  border-radius: 9999px;
  cursor: pointer;
  transition: all ease;
  margin-top: 16px;
}

.plan__a .border_gradient {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: green;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  height: 8px;
}

.plan__a button {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan__b {
  background: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
  color: #fff;
  position: relative;
  z-index: -1;
}

.plan__b li,
.plan__b p {
  color: #fff;
}

.plan__b button {
  color: #6415ff;
  background: #f7fafc;
}

.plan__c .border_gradient {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: green;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  height: 8px;
}

.plan__c button {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

/* Testimonials section */

#testimonials .section__para {
  margin: 0 0 32px 0;
}

#testimonials i {
  margin-right: 4px;
  color: gold;
}

#testimonials h5 {
  font-size: 20px;
  color: #243e63;
  font-weight: 700;
  margin: 24px 0 8px;
}

#testimonials h6 {
  font-size: 16px;
  color: #7c8ba1;
}

.testimonial__para {
  font-size: 16px;
  color: #4a5568;
  font-weight: 500;
  margin-bottom: 24px;
}

.testimonial__customer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonial__customer figure {
  width: 100px;
  height: 100px;
  margin-right: 24px;
  border-radius: 9999px;
  overflow: hidden;
}

.direction {
  display: flex;
}

#testimonials .fa-arrow-left,
#testimonials .fa-arrow-right {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6415ff;
  background-color: #edf2f7;
  cursor: pointer;
}

.testimonial__img--container {
  display: flex;
}

.divider {
  width: 1px;
  height: 24px;
  background-color: #edf2f7;
  margin: 16px 12px 0;
}
