@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700,900;&display=swap");

/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding: 80px 0;
}

.row {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 16px;
}

a {
  text-decoration: none;
  cursor: pointer;
  margin-right: 24px;
  font-size: 14px;
  color: rgb(36, 62, 99);
  font-weight: 600;
}

p {
  line-height: 1.8;
}

li {
  list-style-type: none;
}

button,
.nav__links--btn {
  color: #fff;
  background-color: #6415ff;
  border-radius: 9999px;
  cursor: pointer;
  transition: all ease;
  border: none;
}

img {
  width: 100%;
}

.primary {
  color: #6415ff;
}

h4 {
  font-size: 20px;
  color: #243e63;
  font-weight: 600;
}

hr {
  width: 100%;
  border: 1px solid rgba(203, 213, 224, 0.5);
  margin: 32px 0 0;
}

/* Navigation Styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-top: 30px;
}

.nav__logo--area--anchor {
  display: flex;
  align-items: center;
}

.nav__logo--title:hover {
  color: #6415ff;
}

.nav__logo {
  width: 40px;
}

.nav__logo--title {
  font-size: 24px;
  font-weight: 900;
  margin-left: 12px;
  color: #243e63;
}

.nav__links {
  display: flex;
}

.nav__links--a,
.nav__links--b {
  display: flex;
}

.nav__links--a a {
  margin-right: 48px;
}

.nav__links--b {
  margin-left: 24px;
}
.nav__links--anchor {
  padding-bottom: 4px;
  transition: all 100ms ease;
}

.nav__links--anchor:hover {
  border-bottom: 2px solid #6415ff;
  color: #6415ff;
}

.nav__links--btn {
  padding: 12px 32px;
}

.nav__links--btn:hover,
.form__button:hover {
  background-color: #4c14bd;
  color: #fff;
}

/* Menu area */
.btn__menu {
  font-size: 24px;
  text-align: center;
  display: none;
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 24px 0;
}

.menu__link {
  font-size: 32px;
}

.menu_backdrop {
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease;
  visibility: hidden;
  opacity: 0;
}

.open__menu {
  height: 100vh;
  overflow-y: hidden;
}

.open__menu .menu_backdrop {
  visibility: visible;
  opacity: 1;
}

/* Header area */

header {
  display: flex;
  padding: 96px 0;
}

.header__info {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.header__logo {
  width: 60%;
}

.header__title {
  font-size: 48px;
  line-height: 60px;
  margin: 32px 0;
}

.header__para {
  font-size: 18px;
  color: rgb(36, 62, 99);
  margin-bottom: 24px;
}

input[type="email"] {
  padding: 20px 192px 20px 32px;
  width: 100%;

  border-radius: 9999px;
  border: 2px solid rgb(160, 174, 192);
  font-size: 16px;
  font-weight: 500;
  color: rgb(226, 232, 240);
  opacity: 0.5;
  display: block;
}

input[type="email"]:hover {
  opacity: 1;
}

form {
  position: relative;
  margin-bottom: 80px;
  max-width: 425px;
}

.form__button {
  position: absolute;
  top: 5px;
  right: 8px;
  bottom: 7px;
  border: none;
  padding: 23px 0;
  font-size: 16px;
  width: 149px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__subheader {
  font-size: 12px;
  font-weight: 700;
  color: rgb(160, 174, 192);
}

.header__companies {
  max-width: 533px;
  color: rgb(36, 62, 99);
  opacity: 0.5;
  margin-top: 16px;
  width: 400px;
}

/* Service section */

#services h2,
#services h3,
#services .section__para,
#pricing h2,
#pricing h3,
#pricing p {
  text-align: center;
}

.section__title {
  font-size: 16px;
  color: rgb(100, 21, 255);
  text-transform: uppercase;
  letter-spacing: 1.6px;
}

.section__heading {
  padding: 16px 0;
  color: #243e63;
  font-size: 48px;
  letter-spacing: 1.2px;
  font-weight: 900;
}

.section__para {
  color: rgb(124, 139, 161);
  font-size: 18px;
  line-height: 29px;
  font-weight: 500;
  max-width: 550px;
  margin: 0 auto;
}

.service__widgets {
  margin: 80px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.widget__img {
  border: 1px solid rgb(226, 232, 240);
  border-radius: 50%;
  padding: 20px;
  width: 66px;
  margin-right: 20px;
}

.widget {
  display: flex;
  width: 30%;
  padding: 0px;
  margin-bottom: 24px;
}

.widget__title {
  font-size: 24px;
  font-weight: 700;
  color: rgb(36, 62, 99);
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.widget__description {
  color: #7c8ba1;
  font-weight: 500;
  max-width: 70%;
}

/* Work section */

.row__container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.work__wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 24px 16px 0 0;
  align-items: flex-start;
}

.work__pic {
  width: 50%;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 4px;
}

#work .section__para {
  margin-left: 0;
  margin-bottom: 24px;
}

/* Started section */

.started__pic,
.started__info {
  width: 50%;
}

.started__pic {
  padding-top: 48px;
}

.started__info {
  padding-left: 58px;
}
.steps {
  display: flex;
  margin: 32px 0 0 0;
}

.steps__number {
  font-size: 36px;
  color: rgb(203, 213, 224);
  font-weight: 600;
}

.steps__info {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.steps__para {
  font-size: 14px;
  color: rgb(113, 128, 150);
  line-height: 28px;
  font-weight: 500;
  max-width: 80%;
  margin-top: 8px;
}

/* Values section */

.values__info,
.values__pic {
  width: 50%;
}

#values .section__para {
  margin: 0;
}

.values__descriptions {
  margin: 32px 0 24px;
  display: flex;
}

.values__descriptions h5 {
  color: #243e63;
  font-weight: 700;
  font-size: 20px;
}

.values__descriptions p {
  color: #718096;
  line-height: 26px;
  margin: 16px 0;
  padding-right: 28px;
}

.values_description--title {
  display: flex;
  align-items: center;
}

.values_description--title .fa-briefcase,
.values_description--title .fa-dollar-sign {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-dollar-sign {
  background-color: #9ae6b4;
  color: rgb(4, 82, 4);
}

.fa-briefcase {
  background-color: #feb2b2;
  color: rgb(129, 7, 7);
}

/* Pricing */

.plans {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 48px;
}
.plan {
  width: 32%;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding-bottom: 32px;
  align-items: center;
  color: #1a202c;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}

.plan h5 {
  font-size: 20px;
  padding: 32px 0;
}

.plan h2 {
  font-size: 48px;
  margin-bottom: 12px;
}

.plan p {
  color: #718096;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}

.plan ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan li {
  margin-bottom: 32px;
  color: #718096;
  font-weight: 500;
  font-size: 16px;
}

.plan li:last-child {
  margin-bottom: 0;
}

.plan button {
  border: none;
  padding: 16px 0;
  font-size: 14px;
  width: 160px;
  font-weight: 700;
  color: #fff;
  background-color: #6415ff;
  border-radius: 9999px;
  cursor: pointer;
  transition: all ease;
  margin-top: 16px;
}

.plan__a .border_gradient {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: green;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  height: 8px;
}

.plan__a button {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan__b {
  background: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
  color: #fff;
  position: relative;
  z-index: -1;
}

.plan__b li,
.plan__b p {
  color: #fff;
}

.plan__b button {
  color: #6415ff;
  background: #f7fafc;
}

.plan__c .border_gradient {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: green;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  height: 8px;
}

.plan__c button {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

/* Testimonials section */

#testimonials .section__para {
  margin: 0 0 32px 0;
}

#testimonials i {
  margin-right: 4px;
  color: gold;
}

#testimonials h5 {
  font-size: 20px;
  color: #243e63;
  font-weight: 700;
  margin: 24px 0 8px;
}

#testimonials h6 {
  font-size: 16px;
  color: #7c8ba1;
}

.testimonial__para {
  font-size: 16px;
  color: #4a5568;
  font-weight: 500;
  margin-bottom: 24px;
}

.testimonial__customer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonial__customer figure {
  width: 100px;
  height: 100px;
  margin-right: 24px;
  border-radius: 9999px;
  overflow: hidden;
}

.direction {
  display: flex;
}

#testimonials .fa-arrow-left,
#testimonials .fa-arrow-right {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6415ff;
  background-color: #edf2f7;
  cursor: pointer;
}

.testimonial__img--container {
  display: flex;
  align-items: center;
}

.divider {
  width: 1px;
  height: 24px;
  background-color: #edf2f7;
  margin: 16px 12px 0;
}

/* Get Started */

#get-started {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

#get-started .row__container {
  background-color: #6415ff;
  color: #f7fafc;
  align-items: center;
  justify-content: center;
  padding: 100px;
  border-radius: 8px;
}

#get-started h5,
.two_button {
  width: 50%;
}

#get-started h5 {
  font-size: 30px;
  line-height: 45px;
  max-width: 50%;
}

.two_button {
  display: flex;
  justify-content: center;
}

.button__a,
.button__b {
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 700;
  color: #f7fafc;
  border-radius: 9999px;
  cursor: pointer;
  transition: all ease;
}

.button__a {
  background-color: #f56565;
  margin-right: 32px;
}

.button__a:hover {
  background-color: #eb3d3d;
}

.button__b {
  border: 1px solid rgb(124, 139, 161);
}

.button__b:hover {
  background-color: #f7fafc;
  color: #6415ff;
}

/* Footer Area */

footer {
  color: #f7fafc;
  background-color: #6415ff;
}

.footer__row {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}
.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer li {
  margin-bottom: 16px;
}

footer li:first-child {
  margin-bottom: 24px;
}

footer a {
  font-weight: 500;
  color: #f7fafc;
  font-size: 14px;
  cursor: pointer;
  transition: all ease;
}

footer li a:hover {
  border-bottom: 2px solid #f7fafc;
}

.link__header {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}

.footer__copyright {
  display: flex;
  max-width: 1170px;
  margin: 40px 0 0;
  padding-top: 50px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #718096;
}

.footer__logo--area {
  display: flex;
  align-items: center;
}

.footer__logo--img {
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.footer__logo--name {
  font-size: 20px;
  color: #f7fafc;
  font-weight: 900;
}

.footer__logo--para {
  color: #cbd5e0;
  font-size: 16px;
  font-weight: 500;
}

.footer__social {
  display: flex;
}

footer .fa-brands {
  color: #000;
  width: 30px;
  background-color: #fff;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/* Media Queries */

@media (max-width: 1020px) {
  .btn__menu .fa-bars {
    color: black;
  }

  .nav__links {
    display: none;
  }

  .btn__menu {
    display: block;
  }

  header {
    flex-direction: column;
  }

  .header__info,
  .header__logo {
    width: 100%;
    text-align: center;
  }

  .header__title {
    font-size: 36px;
  }

  form {
    margin: 0 auto 80px;
  }

  .header__companies {
    margin: 16px auto;
  }

  .header__logo {
    margin-top: 40px;
  }

  .section__heading {
    font-size: 36px;
  }

  .widget {
    width: 50%;
  }

  .row__container {
    justify-content: space-between;
    align-items: center;
  }

  .work__wrapper,
  .work__pic {
    width: 45%;
  }

  .values__descriptions {
    flex-direction: column;
  }

  .values__a {
    margin-bottom: 24px;
  }

  .plans {
    flex-direction: column;
    align-items: center;
  }

  .plan {
    width: 55%;
    margin-bottom: 56px;
  }

  .plan button {
    width: 60%;
  }

  .testimonial__customer figure {
    width: 80px;
    height: 80px;
  }

  #get-started {
    width: 90%;
  }

  #get-started .row__container {
    flex-direction: column;
    padding: 50px;
    text-align: center;
    width: 100%;
  }

  #get-started h5 {
    width: 1200px;
    max-width: 72%;
  }

  .button__a,
  .button__b {
    margin-top: 24px;
  }

  #get-started h5,
  .two_button {
    width: 100%;
  }
}

@media (max-width: 760px) {
  .header__title {
    font-size: 30px;
    margin: 16px 0;
  }

  .header__para {
    max-width: 70%;
    font-size: 16px;
    margin: 0 auto 24px;
  }

  form {
    margin-bottom: 40px;
  }

  .header__info,
  .header__logo {
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }

  .section__heading {
    font-size: 45px;
  }

  .section__para {
    font-size: 14px;
  }
}
